/* Estilos para la tabla */

.crud-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #0c0c0c;
    box-shadow:  #35ea35;
}

.crud-table th, .crud-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #e0e0e0;
}

.crud-table th {
    background-color: #0f0f0f;
    color: #fbfafa;
}

/* Estilos para los botones */
.delete-button, .add-button {
    background-color:  #35ea35;
    color: #0c0c0c;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.delete-button:hover, .add-button:hover {
    background-color: #affc83;
}

.edit-button {
    background-color:  #35ea35;
    color: #090909;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    color: #2980b9;
}

/* Estilo para el mensaje de éxito */
.alert-success {
    background-color: #3cccf7;
    color: #040404;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

